{{ ansible_managed | comment }}

SERVER keepalive=ON
SERVER logdir="/var/log/conman"
SERVER logfile="/var/log/conman.log"
SERVER loopback=ON
SERVER pidfile="/var/run/conman.pid"
SERVER resetcmd="/usr/bin/powerman -0 %N; sleep 5; /usr/bin/powerman -1 %N"
SERVER tcpwrappers=ON
#SERVER timestamp=1h
GLOBAL seropts="115200,8n1"
GLOBAL log="/var/log/conman/console.%N"
GLOBAL logopts="sanitize,timestamp"

# IPMI Console
# COMPUTE
{% if conman_compute is defined %}
{% for host in conman_compute %}
{{ host }}
{% endfor %}
{% endif %}

{% for key,value in cluster_compute_nodes.iteritems()|sort %}
CONSOLE name="{{ key }}" dev="ipmi:{{ value.bmc }}" ipmiopts="U:{{ cluster_bmc_username }},P:{{ cluster_bmc_password }},W:solpayloadsize"
{% endfor %}

# I/O NODES
{% if conman_io is defined %}
{% for host in conman_io %}
{{ host }}
{% endfor %}
{% endif %}

# FE NODES
{% if conman_fe is defined %}
{% for host in conman_fe %}
{{ host }}
{% endfor %}
{% endif %}
