{{ ansible_managed | comment }}
## Linux Host Template ##
define host{
	name linux-box ; Name of this template
	use generic-host ; Inherit default values
	check_period 24x7
	check_interval 5
	retry_interval 1
	max_check_attempts 10
	check_command check-host-alive
	notification_period 24x7
	notification_interval 30
	notification_options d,r
	contact_groups admins
	register 0 ; DONT REGISTER THIS - ITS A TEMPLATE
}
define hostgroup {
	hostgroup_name compute
	alias compute nodes
	members {% for key,value in cluster_compute_nodes.iteritems()|sort %}{{ key }}{% if not loop.last %},{% endif %}{% endfor %}

}

# Compute nodes
{% for key,value in cluster_compute_nodes.iteritems()|sort %}
define host{
	use linux-box      ; Inherit default values from a template
	host_name {{ key }}    ; The name we're giving to this server
	alias {{ key }}        ; A longer name for the server
	address {{ value.ip }}   ; IP address of Remote Linux host
}
{% endfor %}